.datePicker {
  display: flex;
  flex-direction: column;
  gap: 24px;

  input {
    width: 222px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #010b00;
    padding: 12px 16px;
  }

  i {
    padding: 10px;
    min-width: 40px;
  }
}
