.container {
  max-width: 1600px;
  margin: 0 auto;
}

.inner_text {
  margin: 20px auto;
  max-width: 680px;
  min-height: 236px;
  border: 1px solid black;

  p {
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    margin-top: 64px;
    margin-bottom: 36px;
  }

  div {
    text-align: center;
  }
}