.recipe {
    display: flex;
    flex-direction: column;
    gap: 24px;
  
    border-radius: 12px;
    border: 1px solid #6c8777;
    padding: 16px;
    width: 100%;
  
    button {
      cursor: pointer;
    }
  
    .header {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 16px;
  
      > button {
        border: none;
        outline: none;
        background: transparent;
        padding: 0;
      }
    }
  }
  
  .user {
    container: header / inline-size;
  
    .userWrapper {
      display: flex;
      justify-content: space-between;
  
      .userLeft {
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 8px;
      }
  
      .userRight {
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  
    // правила для рецептов в режиме 3х колонок
    @container header (width < 600px) {
      div {
        flex-direction: column;
        gap: 16px;
      }
  
      div div:first-child {
        flex-direction: row;
      }
  
      div div:last-child {
        flex-direction: row !important;
        justify-content: space-between;
      }
    }
  }

  .footer {
    container: footer / inline-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footerLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 24px;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        gap: 8px;
      }
    }

    .footerRight {
      display: flex;
      flex-direction: column;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #818181;
        cursor: pointer;
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        gap: 6px;
      }
    }

    // правила для рецептов в режиме 3х колонок
    @container footer (width < 600px) {
      div:first-child {
        gap: 12px;
      }
    }
  }
  
  .preview {
    position: relative;
    border-radius: 12px;
  
    .notPreview {
      width: 100%;
      height: 300px;
      background: #8b8b8b;
      border-radius: 12px;
    }
  
    .previewSave {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 16px;
      right: 18px;
    }
  
    .previewPrinter {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      position: absolute;
      top: 16px;
      left: 18px;
    }
  
    .previewTime {
      position: absolute;
      left: 16px;
      bottom: 18px;
      background: #fff;
      padding: 12px 24px;
      border-radius: 12px;
    }
  }
  
.nameRecipe {
        //todo: принудительно ограничить высоту, обрезав текст
        font-size: 42px;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 24px;
      }

/* блок время приготовления */
.cockingTime_container {
  margin-bottom: 48px; 
}
.cockingTime {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.hourPlusMinutes {
  display: flex;
  flex-direction: row;
}
.hours {
  min-width: 142px;
  margin-right: 12px;
}
.minutes {
  max-width: 225px;
}
/* */

/* блок ингредиенты */
.ingredients_container {
  margin-bottom: 16px;
}
.ingredients {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.inner_descriptionIngredients {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
}
.name {
  min-width: 300px;
  margin: 0 12px 12px 0;
  font-size: 14px;
}
.unit,
.amount {
  min-width: 182px;
  margin: 0 12px 12px 0;
  font-size: 14px;
}

.ingredientsButton {
  border-radius: 20px;
  width: 35px;
  padding: 1px 5px 5px 5px;
  background-color: var(--primary-color);
  border: none;
  color: var(--base-color);
  font-size: 25px;
  margin-bottom: 48px;
  cursor: pointer;
  &:hover {
    background: var(--button-hover);
  }
  &:active {
    background: var(--button-press);
  }
}

/* */

  /* cocking */
  .cocking_container {
    margin-bottom: 48px;
  }
  .full_text {
    position: relative;
    width: 100%;
    min-height: 240px;
    border-radius: 12px;
    color: var(--base-color-dark);
    transition: all 0.3s ease-in-out;
    outline: none;
    border: 1px solid var(--input-stroke);
    padding: 24px 16px;
  }
  .cocking {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .cockingButton {
    border-radius: 20px;
    width: 35px;
    padding: 1px 5px 5px 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--base-color);
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    left: 16px;
    z-index: 1;
    &:active {
      background: var(--button-press);
    }
    &:hover {
      background: var(--button-hover);
    }
  }
  .mediaIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    width: 94px;
    height: 42px;
    background-color: var(--primary-color);
    bottom: 29px;
    left: 60px;
    border-radius: 12px;
    z-index: 0;
    &::after {
      content: '';
      position: absolute;
      left: -26px;
      bottom: 1px;
      border: 20px solid transparent;
      border-right: 20px solid var(--primary-color);
      z-index: -1;
    }
    img {
      cursor: pointer;
    }
  }
  /* */

/* блок для категорий */
.category_container {
  margin-bottom: 48px;
}
.category {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;

}
.category_input {
  width: 100%;
  display: flex;
  p{
    background-color: var(--primary-color);
    padding: 5px;
    margin-right: 12px;
    color: white;
    border-radius: 12px;
  }
}
/**/

  /*блок для Хэштегов */
.tag_container {
  margin-bottom: 48px;
}
.tag {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}
.tag_input {
  width: 100%;
  display: flex;
  p{
    background-color: var(--primary-color);
    padding: 5px;
    margin-right: 12px;
    color: white;
    border-radius: 12px;
  }
}
/**/
  
  .fromInput{
	border-radius: 12px;
	border: 1px solid var(--input-stroke);
	outline: none;
	padding: 12px 14px;
	transition: all 0.3s ease-in-out;
	// width: 100%;
	color: var(--base-color-dark);

	&:focus {
		border: 1px solid var(--base-color-dark);
		color: var(--base-color-dark);
	}

	// &__wrapper {
	// 	position: relative;
	// }

	// &__icons {
	// 	position: absolute;
	// 	display: flex;
	// 	flex-direction: row;
	// 	height: min-content;
	// 	top: 13.75px;
	// 	right: 12px;
	// }

	// &__eye {
	// 	display: flex;
	// 	border-radius: 0;
	// 	border: none;
	// 	background-color: transparent;
	// 	cursor: pointer;

	// 	* {
	// 		fill: #bcbcbc;
	// 	}
	// }
}