/* кнопка добавть фотодля превью */

.button_container {
	max-width: 260px;
}

.back {
	position: absolute;
	top: 112px;
	cursor: pointer;
}
.standardInput {
	border: none;
	width: 100%;
	height: 50px;
	font-size: 42px;
	font-weight: 600;
}
.standardInput::placeholder {
	color: var(--button-disabled);
	font-size: 42px;
	font-weight: 600;
}
.standardInput:focus {
	outline-width: 0;
}
/* блок время приготовления */
.cockingTime_container {
}
.cockingTime {
	font-size: 24px;
	font-weight: 500;
}
.hourPlusMinutes {
	display: flex;
	flex-direction: row;
}
.hours {
	min-width: 142px;
	margin-right: 12px;
}
.minutes {
	min-width: 142px;
}
/* */

/* блок ингредиенты */
.ingredients_container {
}
.ingredients {
	font-size: 24px;
	font-weight: 500;
}
.inner_descriptionIngredients {
	display: flex;
	flex-direction: row;
}
.name {
	min-width: 300px;
	margin-right: 12px;
}
.unit,
.amount {
	min-width: 142px;
	margin-right: 12px;
}

.ingredientsButton {
	border-radius: 20px;
	width: 35px;
	padding: 1px 5px 5px 5px;
	background-color: var(--primary-color);
	border: none;
	color: var(--base-color);
	font-size: 25px;
	cursor: pointer;
	&:hover {
		background: var(--button-hover);
	}
	&:active {
		background: var(--button-press);
	}
}

/* */

/* cocking */
.full_text {
	position: relative;
}
.cocking {
	font-size: 24px;
	font-weight: 500;
}
.textArea {
	width: 100%;
	min-height: 240px;
	border-radius: 12px;
	color: var(--base-color-dark);
	transition: all 0.3s ease-in-out;
	outline: none;
	border: 1px solid var(--input-stroke);
	&:hover {
		border: 1px solid var(--base-color-dark);
	}
	&:focus {
		border: 1px solid var(--base-color-dark);
		color: var(--base-color-dark);
	}
}
.cockingButton {
	border-radius: 20px;
	width: 35px;
	padding: 1px 5px 5px 5px;
	background-color: var(--primary-color);
	border: none;
	color: var(--base-color);
	font-size: 25px;
	cursor: pointer;
	position: absolute;
	bottom: 32px;
	left: 16px;
	z-index: 1;
	&:active {
		background: var(--button-press);
	}
	&:hover {
		background: var(--button-hover);
	}
}
.mediaIcons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	position: absolute;
	width: 94px;
	height: 42px;
	background-color: var(--primary-color);
	bottom: 29px;
	left: 60px;
	border-radius: 12px;
	z-index: 0;
	&::after {
		content: '';
		position: absolute;
		left: -26px;
		bottom: 1px;
		border: 20px solid transparent;
		border-right: 20px solid var(--primary-color);
		z-index: -1;
	}
	img {
		cursor: pointer;
	}
}
/* */

/* блок для категорий */
.category_container {
}
.category {
	font-size: 24px;
	font-weight: 500;
}
.category_input {
	max-width: 225px;
}
/**/

/*блок для Хэштегов */
.tag {
	font-size: 24px;
	font-weight: 500;
}
.tag_input {
	width: 100%;
}
/**/
.buttonOnsubmit {
	padding: 10px;
}
