.layout {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
}

.layoutOne {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 0 124px;
  }

  .center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
  }
}

.layoutTwo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
