.layout {
	.container {
		flex-direction: column;
	}
}

.layoutTwo {
	flex-direction: row;
	width: 100%;
	display: grid;
	grid-template-columns: 124px 800px 256px; // 256 = 1200 - 124 - 800 - 2*10
	gap: 10px;
}
