.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1 0 124px;

  .auth,
  .more {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  .more {
    gap: 24px;
    font-size: 14px;
    font-weight: 400;
  }

  .more,
  .mobileApp {
    border-top: 1px solid #bcbcbc;
    padding-top: 24px;
  }

  .notAuth {
    display: flex;
    flex-direction: column;
    gap: 16px;

    button {
      margin-bottom: 16px;

      &:nth-child(2) {
        margin-bottom: 46px;
      }
    }
  }

  .mobileApp {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    // padding: 0 6px;
    gap: 8px;

    p {
      flex-wrap: wrap;
      color: #b7b7b7;
    }
  }
}
