.container {
	max-width: 1600px;
	margin: 0 auto;
}
.paragraph {
	text-align: center;
	font-size: 42px;
	font-weight: 600;
}
.alreadyHaveAccount {
	text-align: center;
	margin-bottom: 24px;
}
.innerForm {
	width: 450px;
	min-height: 450px;
	border: 1px solid var(--primary-color);
	margin: 0 auto;
	margin-top: 80px;
	padding: 36px;
	border-radius: 12px;
}
.innerForm_paragraph {
	margin-bottom: 24px;
	font-size: 22px;
	font-weight: 700;
	color: var(--primary-color);
}
.innerLine {
	display: flex;
	justify-content: center;
	align-items: center;

	.line {
		height: 1px;
		width: 152px;
	}
}
.innerImg {
	display: flex;
	justify-content: center;
	margin-top: 24px;
	img {
		cursor: pointer;
	}
}
.hidden {
	opacity: 0;
	height: 0;
	width: 0;
	line-height: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
.previewPhoto {
	display: flex;
	flex-direction: column;
}
.inner_img {
	overflow: 'hidden';
}
.img {
	border-radius: 50%;
	margin-bottom: 45px;
	margin-top: 15px;
	object-fit: cover;
}
// styles from Botton add Photo
.addPhoto {
	width: 150px;
	margin: 16px 0px 24px 0px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 12px;
}
// styles from react-number-format

.input {
	border-radius: 12px;
	border: 1px solid #dbdade;
	outline: none;
	padding: 12px 14px;
	transition: all 0.3s ease-in-out;
	width: 100%;
	color: var(--base-color-dark);
	&:focus {
		border: 1px solid var(--base-color-dark);
		color: var(--base-color-dark);
	}
}
.input:hover {
	border: 1px solid var(--base-color-dark);
}
.input::placeholder {
	color: var(--base-color-dark);
}
