.recipe {
  border-radius: 12px;
  border: 1px solid #6C8777;
  padding: 16px;
  width: 100%;

  button {
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; // было end - в консоли были ошибки
    gap: 16px;

    > button {
      border: none;
      outline: none;
      background: transparent;
      padding: 0;
    }
  }

}

.user {
  display: flex;
  justify-content: space-between;

  .userLeft {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 8px;
  }

  .userRight {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; // было end - в консоли были ошибки
  }
}


.preview {
  margin-top: 24px;
  position: relative;
  border-radius: 12px;

  .notPreview {
    width: 100%;
    height: 300px;
    background: #8B8B8B;
    border-radius: 12px;
  }

  .previewSave {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 18px;
  }

  .previewPrinter {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    left: 18px;
  }


  .previewTime {
    position: absolute;
    left: 16px;
    bottom: 18px;
    background: #fff;
    padding: 12px 24px;
    border-radius: 12px;
  }
}

.name {
  margin-top: 24px;

  p {
    &:first-child {
      font-size: 22px;
      margin-bottom: 12px;
    }

    &:last-child {
      font-size: 14px;
      margin-bottom: 24px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; // было end - в консоли были ошибки

  .footerLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 18px;
      gap: 6px;
    }
  }

  .footerRight {
    display: flex;
    flex-direction: column;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #818181;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
      font-size: 18px;
      gap: 6px;
    }
  }
}