
.paragraph {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 60px;
}

.innerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomButton {
  margin-top: 24px;
}

.feed {
  flex-direction: row;
  width: 100%;
  display: grid;
  grid-template-columns: 200px 800px 200px;

  .recipes {
    padding: 0 20px;
  }

  div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;

  }

  div:nth-child(2) {

  }

  div:nth-child(3) {

  }
}