.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo {
  cursor: pointer;
}

.inputContainer {
  position: relative;
  width: 100%;
  margin: 0 40px;

  .inputImg {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    z-index: 1;
  }

  .input {
    width: 100%;
    height: 62px;

    input {
      position: relative;
      border-radius: 12px;
      height: 100%;
      padding: 20px 40px 20px 60px;
      font-size: 16px;
    }
  }
}
