/* блок ингредиенты */
.cockingTime {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
.fromInput{
    max-width: 225px;
    margin-bottom: 80px;
	border-radius: 12px;
	border: 1px solid var(--input-stroke);
	outline: none;
	padding: 12px 14px;
	transition: all 0.3s ease-in-out;
	// width: 100%;
	color: var(--base-color-dark);

	&:focus {
		border: 1px solid var(--base-color-dark);
		color: var(--base-color-dark);
	}

	// &__wrapper {
	// 	position: relative;
	// }

	// &__icons {
	// 	position: absolute;
	// 	display: flex;
	// 	flex-direction: row;
	// 	height: min-content;
	// 	top: 13.75px;
	// 	right: 12px;
	// }

	// &__eye {
	// 	display: flex;
	// 	border-radius: 0;
	// 	border: none;
	// 	background-color: transparent;
	// 	cursor: pointer;

	// 	* {
	// 		fill: #bcbcbc;
	// 	}
	// }
}
.ingredients_container {
    margin-bottom: 16px;
  }
  .ingredients {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  .inner_descriptionIngredients {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
  }
  .name {
    min-width: 300px;
    margin: 0 12px 12px 0;
    font-size: 14px;
  }
  .unit,
  .amount {
    min-width: 182px;
    margin: 0 12px 12px 0;
    font-size: 14px;
  }
  
  .ingredientsButton {
    border-radius: 20px;
    width: 35px;
    padding: 1px 5px 5px 5px;
    background-color: var(--primary-color);
    border: none;
    color: var(--base-color);
    font-size: 25px;
    margin-bottom: 48px;
    cursor: pointer;
    &:hover {
      background: var(--button-hover);
    }
    &:active {
      background: var(--button-press);
    }
  }
  
  /* */