.header {
  background-color: aquamarine;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  cursor: pointer;
}
