.input {
  border-radius: 4px;
  border: 1px solid rgba(219, 218, 222, 1);
  outline: none;
  padding: 4px;
  transition: border 0.2s ease-in-out;
  width: 100%;
  color: rgba(219, 218, 222, 1);
  &:focus {
    border: 1px solid aquamarine;
    color: black;
  }
}

.error {
  color: red;
  font-size: 14px;
}
