.input {
  border-radius: 0px;
  border: 1px solid #DBDADE;
  outline: none;
  padding: 12px 14px;
  transition: all .3s ease-in-out;
  width: 100%;
  color: #72707b99;
  &:focus {
    border: 1px solid #000;
    color: black;
  }
}

.error {
  color: red;
  font-size: 14px;
}
