/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/components/ui/Button/Button.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Button_button__5Fngg {
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid rgb(80, 35, 235);
  border-radius: 1px;
  background-color: #fff;
  color: #000000;
  font-size: 14px;
  width: 232px;
  height: 46px;
  transition: background-color 0.1s ease-in-out;
}
.Button_button__5Fngg:active {
  background-color: rgb(58, 25, 175);
}

.Button_purple__IWKMV {
  background-color: rgb(80, 35, 235);
  color: white;
}
.Button_purple__IWKMV:active {
  background-color: rgb(58, 25, 175);
}

.Button_white__ta6dJ {
  background-color: #fff;
  color: black;
}
.Button_white__ta6dJ:active {
  background-color: #c0c0c0;
}

.Button_gray__HSId1 {
  background-color: rgb(188, 188, 188);
  border: 1px solid rgb(188, 188, 188);
  color: white;
}
.Button_gray__HSId1:active {
  background-color: rgb(58, 25, 175);
}

.Button_small__AR0Cb {
  padding: 4px 20px;
  font-size: 14px;
}

.Button_medium__XjfCa {
  padding: 8px 40px;
  font-size: 18px;
}

.Button_big__R9Vqs {
  padding: 12px 60px;
  font-size: 22px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__LLik5 {
  max-width: 1600px;
  margin: 0 auto;
}

.page_paragraph__2XjnP {
  text-align: center;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 60px;
}

.page_innerButton__nsSV1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_bottomButton__A3H1S {
  margin-top: 24px;
}
