.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 450px;
  margin: 0 auto;
  padding: 36px;
  border: 1px solid var(--primary-color);
  border-radius: 12px;
  font-size: 14px;

  a {
    color: var(--primary-color-light);
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .forgotPassword {
    display: flex;
    justify-content: space-between;
  }

  button {
    width: 100%;
    height: 40px;
    border-radius: 18px;
  }

  .center {
    text-align: center;
    a {
      margin-left: 0.5rem;
    }
    &Small {
      font-size: 12px;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    gap: 12px;
    &Small {
      font-size: 12px;
    }
  }

  .error {
    color: var(--input-invalid);
    text-align: left;
  }
}

.fieldset {
  border: none;
  font-size: 14px;

  legend {
    font-weight: bold;
    font-size: 22px;
    color: var(--primary-color);
    margin-bottom: 24px;
  }

  .fields {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.field {
  .label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  label {
    display: flex;
    margin-bottom: 12px;
  }

  .error {
    color: var(--input-invalid);
    text-align: left;
  }
}

.centerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  outline: none;
  padding: 12px 14px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: var(--base-color-dark);

  &:focus {
    border: 1px solid var(--base-color-dark);
    color: var(--base-color-dark);
  }

  &:hover {
    border: 1px solid var(--base-color-dark);
  }
}

// стили для Select from 'react-select'
.selector > div > div {
  border-radius: 12px;
  border: 1px solid var(--input-stroke);
  outline: none;
  padding: 3px 4px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: var(--base-color-dark);

  &:focus {
    border: 1px solid var(--base-color-dark);
    color: var(--base-color-dark);
  }

  &:hover {
    border: 1px solid var(--base-color-dark);
  }
}
